{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style type="text/css">

  }
  </style>






</head>
<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'blog.views.exam_list' %}">Editor</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        {% if user.is_authenticated %}
        {% if perms.blog.add_examtemplate %}

        <li class="dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Template<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% if perms.blog.add_exam %}
                <li><a href="{% url 'exam_template_new' %}">Criar Template</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if perms.blog.add_exam or perms.blog.add_exam%}

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Provas<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% if perms.blog.add_exam %}
                <li><a href="{% url 'exam_new' %}">Criar Prova</a></li>
                {% endif %}
                <li><a href="{% url 'not_finished_exams' %}">Provas Não Finalizadas</a></li>
                <li><a href="{% url 'finished_exams' %}">Provas Finalizadas</a></li>
            </ul>
        </li>
        {% endif %}


        {% if perms.blog.add_question %}
        <li class="dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Questão<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'choose_exam' %}">Criar Questão</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">

        <!--<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>-->

        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Olá, {{ user.username }}</a></li>
        <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>


        {% else %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'registration' %}"><span class="glyphicon glyphicon-user"></span> Cadastrar</a></li>
            <li><a href="{% url 'django.contrib.auth.views.login' %}"><span class="glyphicon glyphicon-log-in"></span> Logar</a></li>
        {% endif %}

    </ul>
</div>
</div>
</nav>

</div>
<div class="content">
    <div class="row">
        <div class="col-md-15">
            {% block content %}
            <h1> Editor de de provas</h1>

            <h1>Informacoes da prova</h1>
            {% endblock %}
        </div>
    </div>
</body>
</html>
