
{% extends 'blog/base.html' %}

{% block content %}



<div class="menulateral">
	<div class="row">
		<div class="col-sm-3">
			<div class="sidebar-nav">
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="visible-xs navbar-brand">Sidebar menu</span>
					</div>
					<div class="navbar-collapse collapse sidebar-navbar-collapse">
						<ul class="nav navbar-nav">

							<li><a href="#">Provas Realizadas</a></li>
							<li><a href="#">Adicionar Aluno</a></li>

							<li><a href="#">aaaa</a></li>

							<li><a href="#">aaaa</a></li>


						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="col-sm-9">
		</div>
		<div calss ="content">

			<p>Lista de Provas Finalizadas</p>

		</div>

	</div>

</div>




{% endblock content %}
