{% extends 'blog/base.html' %}



{% block content %}


<form method="POST" class="post-form">{% csrf_token %}

	{{ form.media }}
	{{ form.as_p }}

	<button type="submit" class="save btn btn-default">Salvar</button>
</form>




<script>

/*$(document).ready(function() {
  // executes when HTML-Document is loaded and DOM is ready
  alert("document is ready");
});*/

$(window).load(function() {

	$('body#tinymce', $('iframe#id_text_ifr').contents()).keyup( function(e) {
		var btn = document.getElementById("id_text_ifr");
		var listP = btn.contentWindow.document.body.getElementsByTagName('p');
		for (i = 0; i < listP.length; i++) {
        	if(listP[i].innerHTML.length> 10){
        		listP[i].style.color = "red";

                var paragrafo = i+2



               $('#id_text_tbl').popover({
                    title :"<h4>Elementos não conforme!</h4>",
                    content: "<lu><li>Paragrafo "+ paragrafo +" com mais de 10 palavrasasdasdasd</li>" +
                    "<li>Paragrafo "+ paragrafo +" com mais de 10 palavrasasdasdasd</li>"+ 
                    "<li>Paragrafo "+ paragrafo +" com mais de 10 palavrasasdasdasd</li></lu>",
                    
                    container: "body",
                    html: true,

                })
                $('#id_text_tbl').popover('show')




        	}else{
        		listP[i].style.color = "black";
                $('#id_text_tbl').popover('hide')

        	}
    	}


	});

});


</script>
{% endblock %}
