{% extends 'blog/base.html' %}



{% block content %}


<form method="POST" class="post-form">{% csrf_token %}

    {{ form.media }}
    {{ form.as_p }}

    <button type="submit" class="save btn btn-default">Salvar</button>
</form>




<script>

/*$(document).ready(function() {
  // executes when HTML-Document is loaded and DOM is ready
  alert("document is ready");
});*/

$(window).load(function() {
    $('body#tinymce', $('iframe#id_text_ifr').contents()).keyup( function(e) {
        var error = false;
        var pError = "";
        var imgError = "";
        var tblError = "";

        var errorNmb = "";
        var errorFormat = [];
        var btn = document.getElementById("id_text_ifr");
        var listP = btn.contentWindow.document.body.getElementsByTagName('p');
        var listImg = btn.contentWindow.document.body.getElementsByTagName('img');
        var listTbl = btn.contentWindow.document.body.getElementsByTagName('table');

        
        //Testar tag p
        for (i = 0; i < listP.length; i++) {
            if(listP[i].innerHTML.split(" ").length> 10){
                listP[i].style.color = "red";
                errorFormat.push(i);
                
                error=true;

            }else{
              listP[i].style.color = "black";

          }
      }

      pError = showErrorP(errorFormat)

      //Testar tag img
      errorFormat=[];
      for (i = 0; i < listImg.length; i++) {
        alt = listImg[i].getAttribute('alt');
        if (alt === "") {
            errorFormat.push(i);

            listImg[i].style.border='2px solid red';
            error = true;
        }else{
            listImg[i].style.border='none';
        }
    }
    imgError = showErrorIMG(errorFormat)


      //Testar tag tabela

      errorFormat=[];
      for (i = 0; i < listTbl.length; i++) {
        captionList = listTbl[i].getElementsByTagName('caption');
            if (captionList.length == 0 || captionList[0].innerHTML == '<br data-mce-bogus="1">') {
                errorFormat.push(i);
                listTbl[i].style.border='2px solid red';
                error = true;
            }else{

                listTbl[i].style.border='none';
            }
    }
    tblError = showErrorTBL(errorFormat)

    //mostrar error e exibir pop up

    if(error){
        $('#id_text_tbl').popover({
            title :"<h4>Elementos não conforme!</h4>",
            content: "<lu>" +
            pError+
            imgError+
            tblError+
            "</lu>",
            container: "body",
            html: true,
            animation: false,
        })
        $('#id_text_tbl').data('bs.popover').options.content =
        "<lu>" +
        pError+
        imgError+
        tblError+
        "</lu>"+
        '<button type="button" class="btn btn-default btn-sm center-block" data-toggle="modal" data-target="#myModal" onclick="mostrarDica()">Como corrigir?</button>' ;

        $('#id_text_tbl').popover('show')
    }else{

        $('#id_text_tbl').popover('hide')
    }

// tag p
function showErrorP(errorArray){
    var eNumb ="";
    if(errorArray.length==0){
        return "";
    }
    if(errorArray.length==1){
        eNumb = errorArray[0]+1;
        return  "<li> Paragrafo " + eNumb + " possui mais de 10 palavras</li>"
    }else if(errorArray.length>1){

        for (i = 0; i < errorArray.length; i++) {
            if(i!=(errorArray.length-1)){
                eNumb = eNumb + (errorArray[i]+1) + ", ";
            }else{
                eNumb = eNumb + (errorArray[i]+1);
            }
        }
        return "<li> Paragrafos " + eNumb + " possuiem mais de 10 palavras</li>";
    } 
}
// tag img
function showErrorIMG(errorArray){
    var eNumb ="";
    if(errorArray.length==0){
        return "";
    }
    if(errorArray.length==1){
        eNumb = errorArray[0]+1;
        return  "<li> A imagem " + eNumb + " não possui descrição</li>"
    }else if(errorArray.length>1){

        for (i = 0; i < errorArray.length; i++) {
            if(i!=(errorArray.length-1)){
                eNumb = eNumb + (errorArray[i]+1) + ", ";
            }else{
                eNumb = eNumb + (errorArray[i]+1);
            }
        }
        return "<li> As imagens " + eNumb + " não possuem descrição</li>";
    } 
}

//tag table
function showErrorTBL(errorArray){
    var eNumb ="";
    if(errorArray.length==0){
        return "";
    }
    if(errorArray.length==1){
        eNumb = errorArray[0]+1;
        return  "<li> A tabela " + eNumb + " não possui descrição</li>"
    }else if(errorArray.length>1){

        for (i = 0; i < errorArray.length; i++) {
            if(i!=(errorArray.length-1)){
                eNumb = eNumb + (errorArray[i]+1) + ", ";
            }else{
                eNumb = eNumb + (errorArray[i]+1);
            }
        }
        return "<li> As tabelas " + eNumb + " não possuem descrição</li>";
    } 
}

});

});




</script>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Como melhorar a usabilidade!</h4>
        </div>
        <div class="modal-body">
            <iframe src="/texto-alternativo/" width="100%" height="70%"></iframe>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

  <script>
function mostrarDica() {
        $('#id_text_tbl').popover('hide')
}
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal("show");
    });
        $("#myModal").on('hidden.bs.modal', function () {
            $('#id_text_tbl').popover('show')
    });
});
</script>
{% endblock %}
