{% extends 'blog/base.html' %}

{% block content %}


<h1>{{ question.text | safe }}  <a class="btn btn-default" href="{% url 'question_edit' pk=question.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> </h1>
{% if options%}
	{% for d,option in options %}
			<h3>{{d}}){{option.option | safe}}</h3>
	{% endfor %}
{% endif %}

{% for new_option in todo %}
	<h3>{{new_option}}<a href="{% url 'option_new' pk=question.pk %}">) Criar alternativa</a></h3>
{% endfor %}


<h3><a href="{% url 'question_list' pk=exam_pk %}"> Voltar para lista de questões </a></h3>







{% endblock %}