{% load staticfiles %}
<html>

<html>
    <head>

    <link rel="stylesheet" href="{% static 'css/questao.css' %}">
    </head>
    <body>
        <h1 id="content-title" tabindex="-1"> Questão: {{ question.sequence | safe }}</h1>
        
        <div>
            {{ question.text | safe }}<!-- block_paragraph -->
        </div>
        
        {% if options%}
        <div id="alternative-list" data-id="1" data-ref="001">    
            <h2 id="alternative-title" tabindex="-1">Lista de alternativas</h2>

        <ul class="list-none">
                {% for d,option in options %}
                    <li><a href="" role="button" aria-checked="false" data-id="A"><strong class="alternative-id">{{d}}) </strong>{{option.option | safe}}</a></li>
                    
            {% endfor %}
            {% endif %}
            </ul>


            

            <!--<p><label><input type="radio" name="alternative" value="A" > <strong class="alternative-id">A: </strong>a distribuição desigual da produção.</label></p>-->


            <!-- block_alternative --> 
        </div>

        <p><a href="{% url 'blog.views.question_detail' pk=question.pk %}" role="button">Voltar</a></p>
    </body>
</html>