{% extends 'blog/base.html' %}

{% block content %}




<div class="row">
		{% if has_essay%}
		<h3>Redação</h3>
			<p><a href="{% url 'blog.views.essay_detail' pk=exam_pk %}" class="btn btn-default" role="button"></span> Redação</a></p>
		{% endif %}
	<h3>{{questions_done}}/{{total_questions}} questões concluídas<h3>
		
		{% for question in questions %}
			<div class="col-md-3 col-sm-4">
				<div class="thumbnail">
					<div class="caption">
						<h3>Questão: {{ question.sequence }}</a></h3>
						<!-- QUANDO TEM IMAGEM FICA FORA DO QUADRADO
						<h4>{{ question.text|safe|truncatewords:"2"|linebreaks }}</h4>
						-->
						<hr>

						<p><a href="{% url 'blog.views.question_detail' pk=question.pk %}" class="btn btn-default" role="button">Visualizar</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	

</div>


{% if questions_done < total_questions%}

<a href="{% url 'blog.views.question_new' pk=exam_pk %}" class="btn btn-default" role="button">
	<span class="glyphicon glyphicon-plus"></span> Adicionar questão </a>
		{% endif %}

<!-- ARRUMAR PARA ORDENAR
	<a href="#" class="btn btn-default" role="button">
		<span class="glyphicon glyphicon-sort"></span> Ordenar questão </a>


Criar nova pagina para reordenar questoes, nao colocar na base pq vai bugar outras cosas

CODIGO PARA REORDENAR

<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<link rel="stylesheet" href="http://necolas.github.com/normalize.css/2.0.1/normalize.css"> 

		<script type="text/javascript">
			$(function() {
				$( "#sortable" ).sortable({ 
					placeholder: "ui-sortable-placeholder" 
				});
			});
		</script>

		<ul id="sortable">
		<p>Testa o drag and drop das questoes</p>
			{% for question in questions %}
				<li class="ui-state-default"> Questão: {{ question.id }} {{ question.text|safe|truncatewords:"2"|linebreaks }}</li>
			{% endfor %}
		</ul> -->

		{% endblock content %}
