
{% load staticfiles %}
<!DOCTYPE html>			
<html lang="pt-br">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

	<title>Exemplos de Texto Alternativo</title>
</head>	
<body>
<section>
	<article>
		<h2>Como melhorar a usabilidade</h2>
		

<div class="row">

		
		<div class="col-md-10 col-sm-10">
			<div class="thumbnail">
				<div class="caption">
					<h3>Exemplos de Texto Alternativo</h3>

					<hr>

					<p><a href="{% url 'show_error-voltar' %}" class="btn btn-default" role="button">Vizualizar</a>

					</p>
				</div>
			</div>
		</div>

		<div class="col-md-10 col-sm-10">
			<div class="thumbnail">
				<div class="caption">
					<h3>Exemplos de Tabela</h3>

					<hr>

					<p><a href="{% url 'show_error_tabela-voltar' %}" class="btn btn-default" role="button">Vizualizar</a>

					</p>
				</div>
			</div>
		</div>

		<div class="col-md-10 col-sm-10">
			<div class="thumbnail">
				<div class="caption">
					<h3>Exemplos de Títulos</h3>

					<hr>

					<p><a href="{% url 'show_error_titulo-voltar' %}" class="btn btn-default" role="button">Vizualizar</a>

					</p>
				</div>
			</div>
		</div>

		<div class="col-md-10 col-sm-10">
			<div class="thumbnail">
				<div class="caption">
					<h3>Exemplos de Parágrafo</h3>

					<hr>

					<p><a href="{% url 'show_error_paragrafo-voltar' %}" class="btn btn-default" role="button">Vizualizar</a>

					</p>
				</div>
			</div>
		</div>

</div>
		
	</article>
</section>




</body>