<!DOCTYPE html>			
<html lang="pt-br">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/estilo.css" type="text/css" />
	<title>Exemplos de texto alternativo</title>
</head>	
<body>
<section>
	<nav class="voltar">
		<a href="texto-alternativo.html">Voltar</a>
	</nav>
	<article>
		
		<h1>Exemplo 1: Figura comum</h1>

		
		<div class="item">
			<figure class="exemplo ex1">
				<img src="img/pinguins.jpg" alt="Cinco pinguins na praia">
				<figcaption>
					Espécie pinguim-rei
				</figcaption>			
			</figure>
			<div class="texto">
				<p>O pinguim é uma ave <em>Spheniscidae</em>, não voadora, característica do Hemisfério Sul, em especial na Antártida e ilhas dos mares austrais, chegado à Terra do Fogo, Ilhas Malvinas e África do Sul, entre outros. </p>
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Cinco pinguins na praia</p>
			</div>
		</div>
		
	</article>
</section>




</body>