{% extends 'Paginas-de-Orientacao/ta-template.html' %}

{% load staticfiles%}



{% block content %}


	<h1>Exemplo 8: Imagem decorativa</h1>

		
		<div class="item">
			
			<figure class="exemplo-branco">
				<img src="{% static 'img/coracao-borda.jpg' %}" alt=""/>
			</div>
			<div class="texto">
				<blockquote>"Amor é fogo que arde sem se ver;<br>É ferida que dói, e não se sente;<br>É um contentamento descontente;<br>É dor que desatina sem doer..."</blockquote>
				<p style="text-align: right; padding-right: 20px"><strong>Luis de Camões</strong></p>
				<p class="texto-alternativo"><strong>Neste exemplo, o texto alternativo deve ser vazio.</strong> Como trata-se de uma imagem decorativa, nenhuma informação deve ser inserida no texto alternativo</p>
			</div>
		</div>



{% endblock %}
