{% extends 'Paginas-de-Orientacao/ta-template.html' %}

{% load staticfiles%}



{% block content %}



	<h1>Exemplo 6: Gráficos</h1>

		
		<div class="item">
			<figure class="exemplo-maior">
				<img src="{% static 'img/grafico.png' %}" alt="Gráfico. A descrição textual está disponível no texto da página">
				<figcaption>Distribuição do espaço em páginas</figcaption>
			</figure>
			<div class="texto-menor">
				<p><strong>Distribuição do espaço em páginas</strong></p>
				<ul>
					<li>Propaganda - 60%</li>
					<li>Sem Uso - 10%</li>
					<li>Navegação - 10%</li>
					<li>Conteúdo de Interesse - 20%</li>
				</ul>
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Gráfico. A descrição textual está disponível no texto da página</p>
				<p class="obs"><strong>Importante: </strong>O texto da imagem dever se informado no corpo do texto da página atual (como acima) ou em uma página de descrição.</p>
			</div>
		</div>



{% endblock %}
