{% extends 'Paginas-de-Orientacao/ta-template.html' %}

{% load staticfiles%}



{% block content %}


 <h1>Exemplo 2: Fotografia</h1>

		
		<div class="item">
			<figure class="exemplo ex1">
				<img src="{% static 'img/santos-dummont.png' %}" alt="Santos Dumont">		
			</figure>
			<div class="texto">
				<p>Alberto Santos Dumont foi um aeronauta, esportista e inventor brasileiro. Herdeiro de uma família de cafeicultores prósperos na cidade de Ribeirão Preto, pôde se dedicar aos estudos da ciência e da mecânica vivendo em Paris. Ao contrário de outros aeronautas da época, Santos Dumont, deixava suas pesquisas como domínio público e sem registrar patentes.</p>
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Santos Dumont</p>
				
			</div>
		</div>



{% endblock %}
