{% extends 'Paginas-de-Orientacao/ta-template.html' %}

{% load staticfiles%}


{% block content %}


<h1>Exemplo 1: Figura comum</h1>

		
		<div class="item">
			<figure class="exemplo ex1">
				<img src="{% static 'img/pinguins.jpg' %}" alt="Cinco pinguins na praia">
				<figcaption>
					Espécie pinguim-rei
				</figcaption>			
			</figure>
			<div class="texto">
				<p>O pinguim é uma ave <em>Spheniscidae</em>, não voadora, característica do Hemisfério Sul, em especial na Antártida e ilhas dos mares austrais, chegado à Terra do Fogo, Ilhas Malvinas e África do Sul, entre outros. </p>
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Cinco pinguins na praia</p>
			</div>
		</div>



{% endblock %}
