<!DOCTYPE html>			
<html lang="pt-br">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/estilo.css" type="text/css" />
	<title>Exemplos de texto alternativo</title>
</head>	
<body>
<section>
	<nav class="voltar">
		<a href="texto-alternativo.html">Voltar</a>
	</nav>
	<article>
		
		<h1>Exemplo 4: Imagem de texto</h1>

		
		<div class="item">
			<figure class="exemplo ex1">
				<img src="img/inscricoes-abertas.jpg" alt="Inscrições Abertas">		
			</figure>
			<div class="texto">
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Inscrições Abertas</p>
				<p class="obs"><strong>Importante: </strong>Quando a imagem possuir texto, este deve ser utilizado como texto alternativo.</p>
			</div>
		</div>
		
	</article>
</section>




</body>