<!DOCTYPE html>			
<html lang="pt-br">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/estilo.css" type="text/css" />
	<title>Exemplos de texto alternativo</title>
</head>	
<body>
<section>
	<nav class="voltar">
		<a href="texto-alternativo.html">Voltar</a>
	</nav>
	<article>
		
		<h1>Exemplo 7: Organogramas</h1>

		
		<div class="item">
			<figure class="exemplo-full">
				<img src="img/organograma.png" alt="Organograma. A descrição textual está disponível no texto da página">
				<figcaption>Organograma do Colégio Estadual Antônio Prado Júnior</figcaption>
			</figure>
			<div class="texto-full">
				<p><strong>Descrição textual:</strong> o organograma mostra as relações hierárquicas do colégio onde na parte superior encontra-se o Departamento de Ensino, logo abaixo deste está, de forma linear, a Secretaria Escolar, a Coordenação Pedagógica, a Orientação Educacional e a Psicóloga.</p>
				
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Organograma. A descrição textual está disponível no texto da página</p>
				<p class="obs"><strong>Importante: </strong>O texto da imagem dever se informado no corpo do texto da página atual (como acima) ou em uma página de descrição.</p>
			</div>
		</div>
		
	</article>
</section>




</body>