{% extends 'Paginas-de-Orientacao/ta-template.html' %}

{% load staticfiles%}



{% block content %}



		<h1>Exemplo 4: Imagem de texto</h1>

		
		<div class="item">
			<figure class="exemplo ex1">
				<img src="{% static 'img/inscricoes-abertas.jpg' %}" alt="Inscrições Abertas">		
			</figure>
			<div class="texto">
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Inscrições Abertas</p>
				<p class="obs"><strong>Importante: </strong>Quando a imagem possuir texto, este deve ser utilizado como texto alternativo.</p>
			</div>
		</div>



{% endblock %}

