{% extends 'Paginas-de-Orientacao/ta-template.html' %}

{% load staticfiles%}


{% block content %}



	<h1>Exemplo 5: Imagem com conteúdo</h1>

		
		<div class="item">
			<figure class="exemplo-maior">
				<img src="{% static 'img/workshop.jpg' %}" alt="Divulgação Workshop">		
			</figure>
			<div class="texto-menor">
				<p><strong>Workshop Google Apps</strong><br/>
				Data: 28 de junho (quinta-feira)<br/>
				Horário: 19h às 22:30h<br/>
				Investimento: R$40<br/>
				Local: SmartMob Coworking
				</p>
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Divulgação Workshop</p>
				<p class="obs"><strong>Importante: </strong>Evite utilizar imagens como principal veículo da informação. A informação incorporada ao texto facilita, inclusive, melhor recuperação por motores de busca como o Google.</p>
			</div>
		</div>



{% endblock %}
