<!DOCTYPE html>			
<html lang="pt-br">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/estilo.css" type="text/css" />
	<title>Exemplos de texto alternativo</title>
</head>	
<body>
<section>
	<nav class="voltar">
		<a href="texto-alternativo.html">Voltar</a>
	</nav>
	<article>
		
		<h1>Exemplo 5: Imagem com conteúdo</h1>

		
		<div class="item">
			<figure class="exemplo-maior">
				<img src="img/workshop.jpg" alt="Divulgação Workshop">		
			</figure>
			<div class="texto-menor">
				<p><strong>Workshop Google Apps</strong><br/>
				Data: 28 de junho (quinta-feira)<br/>
				Horário: 19h às 22:30h<br/>
				Investimento: R$40<br/>
				Local: SmartMob Coworking
				</p>
				<p class="texto-alternativo"><strong>Texto alternativo utilizado: </strong>Divulgação Workshop</p>
				<p class="obs"><strong>Importante: </strong>Evite utilizar imagens como principal veículo da informação. A informação incorporada ao texto facilita, inclusive, melhor recuperação por motores de busca como o Google.</p>
			</div>
		</div>
		
	</article>
</section>




</body>